h1 {
	color: #669900;
	margin-top: 180px;
	margin-left: 20px;
	font-family: "Verdana";
}
body {
	background-image: url("../images/1.jpg");
	background-size: cover;
}
div.welcome {
	color: #CFB53B;
	margin-left: 30px;
	font-family: "Verdana";
	line-height: 150%%;
}
div.motto {
	color: #669900;
	margin-left: 20px;
	font-family: "Verdana";
}
div.social {
	color: #CFB53B;
	margin-left: 50px;
	font-family: "Verdana";
}
div.work {
	color: #CFB53B;
	margin-left: 80px;
	font-family: "Verdana";
}
div.links {
	margin-left: 370px;
	font-family: "Verdana";
}
a:link {
	color: #CFB53B;
}
a:visited {
	color: #D4AF37;
}
ul {
	list-style-type: none;
}